* {
    font-family: Play, Abel, 'Segoe UI';
    box-sizing: border-box;
    font-size: 17px;
}
body {
    margin: 0;
    padding: 0px;
}
button, input, textarea, select {
    outline: none;
    border-radius: 0px;
    border: 0px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-around;
    align-items: center;
    grid-row-gap: 30px;
    margin-bottom: 30px;
}