.topbar {
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: #1560BD;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    height: 125px;
    img {
        height: 100px;
    }
}